@use "../abstracts/variables" as *;

.container {
  padding: 40px;
}
.app {
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  max-width: fit-content;
  min-width: 300px;
  box-shadow: 1px 1px 4px 0px rgba(black, 0.3),
    -1px -1px 4px 0px rgba(black, 0.3);
  .btn {
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    display: block;
    margin: auto;
  }
  .facts {
    min-height: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .fact {
      min-height: 200px;
      flex: 1 200px;
      padding: 20px;
      border-radius: 20px;
      background-color: #eee;
    }
  }
}
